<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <style>
        /* header */
        html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            overflow-x: hidden;
        }

        * {
            box-sizing: border-box;
        }

        .poppins-light {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        /* header */
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            animation: myGradient 20s infinite;
            /* border-radius: 0px; */
            /* height: 93px; */
            background-color: hsla(18.29268293, 82%, 60.78431373%, 1);
        }


        .Logo {
            display: flex;
            align-items: center;
        }

        .Logo img {
            width: 6rem;
            height: 5rem;
            margin-right: 10px;
            margin-left: 1rem;
        }

        .Logo span {
            font-size: 20px;
            font-weight: bold;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-right: 159px;
            font-size: 23px;
        }

        nav ul li {
            display: inline;
            margin-right: 49px;
            font-style: bold;
        }

        nav ul li:hover {
            border-bottom: 2px solid black;
        }

        nav ul li:last-child:hover {
            border-bottom: 0px;
        }


        nav ul li:last-child {
            margin-right: 40;
        }

        nav ul li a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }

        @keyframes myGradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }


        .nav-bar ul li a {
            text-decoration: none;
            /* color: inherit; */
            font-weight: inherit;
        }

        /* Style for CONTACT button */
        .contact-button {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 30px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            /* margin-left: -237px; */
            transition: opacity 0.3s ease;
            /* margin-right: 168px; */
        }

        .contact-button:hover {
            opacity: 0.9;
        }

        .contact-button a {
            text-decoration: none;
            /* Removes underline */
            color: inherit;
            /* Inherits the color from the parent element */
        }

        .container-1 {
            max-width: 800px;
            margin: 101px auto;
            padding: 74px;
            border-radius: 10px;
            background-color: #fff;
        }

        .container-1 h2 {
            text-align: center;
            margin-bottom: 20px;
            color: black;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group {
            margin-bottom: 20px;
            width: 100%;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: black;
        }

        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .form-group textarea {
            resize: vertical;
        }

        button[type="submit"] {
            display: block;
            width: 80px;
            padding: 10px;
            background-color: hsla(18.29268293, 82%, 60.78431373%, 1);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: grey;
        }


        /*box 7 */

        .box7 {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: space-evenly;
            background-color: black;
            color: white;
            padding: 20px;
            font-size: 14px;
            padding: 4rem 0;
        }

        .box7 div>div:first-child {
            font-size: 1rem;
            color: #dddddd;
            margin-bottom: 4px;
        }

        .box7 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .box7 .three ul {
            display: flex;
            margin-top: 1rem;
            gap: 20px;
        }

        .box7 .three ul li {
            border-radius: 25%;
            background-color: #3f3f3f;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .box7 ul li a {
            color: #999999;
            text-decoration: none;
        }

        .box7 .three ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }


        .box7 .three ul li:nth-child(3):hover a svg path {
            fill: #0A66C2;
        }

        .box7 .three ul li:nth-child(4):hover a svg path {
            fill: #55acee;
        }

        .box7 .three ul li:last-child:hover a svg path {
            fill: #1e77f0;
        }

        @media screen and (max-width: 768px) {
            .nav-bar {
                position: absolute;
                right: 2px
            }

            .nav-links {
                display: none;
                position: absolute;
                left: -200px;
                /* Off the screen initially */
                width: 250px;
                /* Width of the navigation bar */
                background-color: rgb(37, 37, 37);
                top: -20px;
                padding: 20px;
                height: 640px;

            }

            .nav-links li {
                display: block;
                margin: 20px;


            }

            .nav-links li a {
                color: white;

            }

            .burger-menu {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 5px;
                z-index: 1000;
            }

            .line {
                width: 25px;
                height: 3px;
                background-color: #000;
                margin: 5px 0;
                transition: transform 0.3s, opacity 0.3s;
            }

            .line:first-child {
                transform-origin: top left;
            }

            .line:last-child {
                transform-origin: bottom left;
            }

            .nav-open .line:nth-child(1) {
                transform: rotate(45deg);
            }

            .nav-open .line:nth-child(2) {
                opacity: 0;
            }

            .nav-open .line:nth-child(3) {
                transform: rotate(-45deg);
            }

            .nav-open .nav-links {
                display: block;
                right: 0;
                /* Move to the right to reveal */
            }

            .box7 {
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }
        }

        @media (max-width:430px) {
            .box7 .three ul {
                transform: scale(0.8);
            }
        }
    </style>
</head>

<body>

    <!-- header -->
    <header class="container">
        <div class="Logo">
            <img src="./assets/logo osl.jpg" alt="logo">
        </div>
        <nav class="nav-bar">
            <ul class="nav-links">
                <li><a href="/">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="contact.html" class="contact-button">Contact</a></li>
            </ul>
            <div class="burger-menu" onclick="toggleNav()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>


    <div class="container-1">
        <h2>Contact Us</h2>
        <form action="/mail" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>


    <div class="box7">
        <div class="two">
            <div>Hyperlinks</div>
            <ul>
                <li>
                    <a href="/AI">AI</a>
                </li>
                <li>
                    <a href="/IOT">IOT</a>
                </li>
                <li> <a href="/TestingSolutions">
                        Testing Solutions
                    </a>
                </li>
                <li>
                    <a href="/SoftwareDevelopment">
                        Software Development
                    </a>
                </li>
                <li>
                    <a href="/DataAnalytics">
                        Data Analytics
                    </a>
                </li>
                <li>
                    <a href="/DigitalMarketing">
                        Digital Marketing
                    </a>
                </li>
            </ul>
        </div>
        <div class="three">
            <div>Contact Us</div>
            <ul>
                <li>
                    <a href="mailto:reachtoamitoldskool@gmail.com" aria-label="reachtoamitoldskool@gmail.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24">
                            <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2">
                                <rect width="20" height="16" x="2" y="4" rx="2" />
                                <path d="m22 7l-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/oldskoollabs?igsh=MWt4eWF5Y2xuaDJ2Yg%3D%3D&utm_source=qr" title="Instagram" aria-label="Instagram">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://in.linkedin.com/in/oldskool-labs-7471332b8" title="LinkedIn" aria-label="LinkedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <g fill="#bbbbbb">
                                <path fill-rule="evenodd"
                                    d="M12.51 8.796v1.697a3.74 3.74 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766c-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483a1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.6 1.6 0 0 1 1.6 1.606"
                                    clip-rule="evenodd" />
                                <path d="M7.2 8.809H4V19.5h3.2z" />
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/AshokKu80906039" title="Twitter" aria-label="Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                        </svg>
                    </a>
                </li>
                <li><a href="https://www.facebook.com/profile.php?id=61562968307541" title="Facebook"
                        aria-label="Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function toggleNav() {
            var navBar = document.querySelector('.nav-bar');
            navBar.classList.toggle('nav-open');
        }
    
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault(); // Prevent the default form submission
    
            const formData = {
                name: document.querySelector('input[name="name"]').value,
                email: document.querySelector('input[name="email"]').value,
                subject: document.querySelector('input[name="subject"]').value,
                message: document.querySelector('textarea[name="message"]').value
            };
    
            fetch("https://oldskoollabs.com/mail", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            }).then((res) => res.json())
              .then((data) => {
                alert('Form submitted')
              })
              .catch((error) => {
                  console.error("Error:", error);
              });
        });
    </script>
    
</body>

</html>