<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oldskool Lab</title>
    <link rel="stylesheet" href=".\styles1.css">
</head>

<body>

    <!-- header -->
    <header class="container">
        <div class="Logo">
            <img src="./assets/logo osl.jpg" alt="logo">
        </div>
        <nav class="nav-bar">
            <ul class="nav-links">
                <li><a href="#home">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="/contact" class="contact-button">Contact</a></li>
            </ul>
            <div class="burger-menu" onclick="toggleNav()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>
    <div class="class">
        <div class="hello">
            <h1>Hi, We're Old Skool Labs<br>We deliver services</h1>
            <a href="#services">
                <button>What services?</button>
            </a>
        </div>
        <div class="top-image">
            <img src="./assets/1.png">
        </div>
    </div>

    <div class="box1" id="home">
        <!-- <h1>Oldskool Labs </h1> -->
        <div class="container1">
            <div class="image1">
                <Img src="./assets/office.png">
            </div>
            <div class="text1">
                <p>At <span id="main">Old Skool Labs</span>, we are passionate about leveraging technology to empower
                    businesses and drive
                    innovation.<br><br> With a team of seasoned professionals and a wealth of experience across various
                    industries, we are committed to delivering cutting-edge solutions that exceed our clients'
                    expectations.</p>
            </div>
        </div>
    </div>


    <div class="div1">
        <div class="counter1">
            <h3>5k+</h3>
            <h4>Clients</h4>
        </div>
        <div class="counter2">
            <h3>350+</h3>
            <h4>Running <br>Projects</h4>
        </div>
        <div class="counter3">
            <h3>900+</h3>
            <h4>Projects <br>Completed</h4>
        </div>
    </div>

    <div class="boxS" id="services">
        <h1>Our Services</h1>
        <div class="services-container">
            <div class="rows">

                <a href="/AI" class="card-link">
                    <div class="card1">
                        <h2>AI</h2>
                    </div>
                </a>
                <a href="/IOT" class="card-link">
                    <div class="card2">
                        <h2>IOT</h2>
                    </div>
                </a>
                <a href="/TestingSolutions" class="card-link">
                    <div class="card3">
                        <h2>Testing Solutions</h2>
                    </div>
                </a>

                <a href="/SoftwareDevelopment" class="card-link">
                    <div class="card4">
                        <h2>Software Development</h2>
                    </div>
                </a>
                <a href="/DataAnalytics" class="card-link">
                    <div class="card5">
                        <h2>Data Analytics</h2>
                    </div>
                </a>
                <a href="/DigitalMarketing" class="card-link">
                    <div class="card6">
                        <h2>Digital Marketing</h2>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <img
                    src="https://media.gettyimages.com/id/1977833472/vector/reputation-management-concept.jpg?s=612x612&w=0&k=20&c=C_9gi-XiUHp4cwT92nhoSOUvtCmz0PP5p-yKtC2ioq4=">
            </div>
        </div>
    </div>



    <div class="box2" id="about">
        <!-- <h1>Our Mission</h1> -->
        <div class="container2">
            <div class="image2">
                <img
                    src="https://media.gettyimages.com/id/550215717/photo/businesswoman-on-laptop-at-window-in-morning-sun.jpg?s=612x612&w=0&k=20&c=veWsudS1xbG4lEv5Q1yELci3Vr_Wfw0ao2tAK7uRKuY=">
            </div>
            <div class="text2">
                <p><span id="mission">Our Mission</span> is to harness the power of technology to solve complex
                    challenges and unlock new
                    opportunities for growth.<br><br> We strive to be a trusted partner for businesses seeking
                    innovative solutions that drive tangible results.</p>
            </div>
        </div>
    </div>

    <div class="box3">
        <h1>Our Values</h1>
        <div class="container3">
            <div class="V1">
                <h3>Excellence:</h3>
                <p>We are dedicated to delivering excellence in everything we do, from the quality of our work to the
                    level of service we provide.</p>
            </div>
            <div class="V2">
                <h3>Innovation:</h3>
                <p>We embrace innovation and continuously seek new ways to push boundaries and drive progress.</p>
            </div>
            <div class="V3">
                <h3>Integrity:</h3>
                <p>We operate with integrity, honesty, and transparency in all our interactions, building trust with our
                    clients and partners.</p>
            </div>
            <div class="V4">
                <h3>Collaboration:</h3>
                <p>We believe in the power of collaboration and work closely with our clients to understand their unique
                    needs and deliver tailored solutions.</p>
            </div>
            <div class="V5">
                <h3>Customer Focus:</h3>
                <p>We are committed to putting our customers first, providing personalized attention and support to
                    ensure their success.</p>
            </div>
        </div>
    </div>

    <div class="box5">
        <h1>Why Choose Us?</h1>
        <div class="container5">
            <div class="image4">
                <img
                    src="https://media.gettyimages.com/id/1486152524/photo/young-asian-couple-looking-for-apartment-to-rent-via-online-property-platform-with-digital.jpg?s=612x612&w=0&k=20&c=uwsT9h1Xd8FaKjpicyJlqSUG5CaiBys5wCS62KKOX_Q=">
            </div>
            <div class="text5">
                <ul>
                    <li><span>Expertise:</span> Our team comprises seasoned professionals with expertise across a wide
                        range of technologies and industries.</li><br><br>
                    <li><span>Custom Solutions:</span> We understand that every business is unique, which is why we
                        offer customized solutions tailored to your specific needs and objectives.</li><br><br>
                    <li><span>Client-Centric Approach:</span> We prioritize the needs and goals of our clients, working
                        closely with them to deliver solutions that exceed expectations.</li><br><br>
                    <li><span>Commitment to Quality:</span> We are committed to delivering high-quality solutions that
                        are reliable, scalable, and future-proof.</li><br><br>
                    <li><span>Long-Term Partnership:</span> We view our clients as long-term partners and are dedicated
                        to supporting their growth and success every step of the way.</li><br><br>
                </ul>
            </div>
        </div>
    </div>

    <div class="box6">
        <div class="text6">
            <h1>Ready to take your business to the next level? <br><br><span id="call"> Contact Us </span>today to learn
                more about our services and
                how we
                can help you achieve your goals. We look forward to hearing from you!</h1>
            <div class="button1">
                <button><a href="contact.html">Get in Touch</a></button>
            </div>
        </div>
        <div class="image5">
            <img id="img5" src="./assets/2.png">
        </div>
    </div>

    <div class="box7">
        <div class="two">
            <div>Hyperlinks</div>
            <ul>
                <li>
                    <a href="/AI">AI</a>
                </li>
                <li>
                    <a href="/IOT">IOT</a>
                </li>
                <li> <a href="/TestingSolutions">
                        Testing Solutions
                    </a>
                </li>
                <li>
                    <a href="/SoftwareDevelopment">
                        Software Development
                    </a>
                </li>
                <li>
                    <a href="/DataAnalytics">
                        Data Analytics
                    </a>
                </li>
                <li>
                    <a href="/DigitalMarketing">
                        Digital Marketing
                    </a>
                </li>
            </ul>
        </div>
        <div class="three">
            <div>Contact Us</div>
            <ul>
                <li>
                    <a href="mailto:info@example.com" aria-label="ashoksahu_06@yahoo.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24">
                            <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2">
                                <rect width="20" height="16" x="2" y="4" rx="2" />
                                <path d="m22 7l-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ashoksahu_06/?hl=en" title="Instagram" aria-label="Instagram">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://navrasagroups.com/index.html#" title="LinkedIn" aria-label="LinkedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <g fill="#bbbbbb">
                                <path fill-rule="evenodd"
                                    d="M12.51 8.796v1.697a3.74 3.74 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766c-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483a1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.6 1.6 0 0 1 1.6 1.606"
                                    clip-rule="evenodd" />
                                <path d="M7.2 8.809H4V19.5h3.2z" />
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/AshokKu80906039" title="Twitter" aria-label="Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                        </svg>
                    </a>
                </li>
                <li><a href="https://www.facebook.com/Tourist-Guide-in-Varanasi-106546464522001" title="Facebook"
                        aria-label="Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function toggleNav() {
            var navBar = document.querySelector('.nav-bar');
            navBar.classList.toggle('nav-open');
        }
    </script>
</body>

</html>